/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 17, 2026, 1:50:25 PM
    Author     : admin
*/

.Container{
     -fx-background:#FFFFFF;
    -fx-alignment:CENTER;
    -fx-spacing: 15;
    -fx-font: Arial;
}
.Subject{
    -fx-font-size:40;
    -fx-font-weight:bold;
    -fx-fill:#000000 ;
    -fx-stroke-width:2;
    -fx-stroke:gold;
}
.Button{
     -fx-background-color: #E0E0E0;
    -fx-text-fill:#000000   ;
    -fx-padding: 8;
    -fx-pref-width:250;
}

.Input {
    -fx-pref-width: 250;
    -fx-padding: 10;
}

.combo-box .list-cell {
    -fx-text-fill: white; 
}
.combo-box-popup .list-view .list-cell {
    -fx-text-fill: darkblue; 
}